* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    color: white;
}
html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    min-height: 50vh;
    background-image: url("/img/pizzakep.jpg");
    background-position: center;
    background-size: cover;
}


header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.8));
}
.hamburger{
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: white;
}


nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

nav .part_1 {
    font-size: x-large;
    font-weight: normal;
}

nav .part_2 {
    display: flex;
    font-size: large;
}

nav .part_2 a {
    text-decoration: none;
}

nav .part_2 a:hover {
    text-decoration: underline;
}

nav .part_2 a + a::before {
    content: "/";
    margin: 0 8px;
}


main {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.foglalas,
.menu,
.spec {
    width: 100%;
    padding: 40px 40px;
    line-height: 1.5;
    margin: 0 auto;
}

.foglalas {
    background-color: #222222;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

main .foglalas .fog:nth-child(1){
    text-align: right;
    display: flex;
    flex-direction: column;
}

main .foglalas .fog:nth-child(1) strong{

    font-size: xx-large;
}

main .foglalas .fog:nth-child(1) small{
    text-align: right;
    display: flex;
    flex-direction: column;
    font-size: large;
    font-style:oblique;
    font-family: 'Times New Roman', Times, serif;
}

main .foglalas .fog:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 600px;
    font-weight: 100;
}

main .foglalas .fog:nth-child(2) p{
    font-size: larger;
}

main .foglalas .fog:nth-child(2) strong{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;

}

.menu {
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu > div:nth-child(1){
    font-size: xx-large;
}
.menu > div:nth-child(1)::after{
    content: "–";
}

.menu > div:nth-child(1)::before{
    content: "–";
}
.menu div:nth-child(2){
    font-size: large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.menu div:nth-child(3){
    font-style: oblique;
    display: flex;
    justify-content: center;
    width: 550px;
    text-align: center;
    font-size: larger;
    font-weight: 100;
}
.menu div:nth-child(4){
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding:50px 0 25px 0;
}

.menu div:nth-child(4) a{
    text-decoration: none;
    border: solid 1px white;
    padding: 15px 75px 15px 75px;
}


.spec {
    background-color: #222222;
}

.spec h2::after{
    content: "–";
}
.spec h2::before{
    content: "–";
}
.spec h2{
    text-align: center;
}
.spec div{
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(6, minmax(20px,1fr));
}
.spec div .kep:nth-child(1){
    background-image: url(./img/pizzakep.jpg);
    background-position: center;
    background-size: cover;
    grid-area: 1 / 1 / 3 / 5;
}
.spec div .kep:nth-child(2){
    background-image: url(./img/pizzakep2.jpg);
    background-position: center;
    background-size: cover;
    grid-area: 1 / 6 / 3 / 10;
}
.spec div .kep:nth-child(3){
    background-image: url(./img/pizzakep3.jpg);
    background-position: center;
    background-size: cover;
    grid-area: 5 / 1 / 5 / 1;
}
.spec div .kep:nth-child(4){
    background-image: url(./img/pizzakep4.jpg);
    background-position: center;
    background-size: cover;
    grid-area: 5 / 3 / 5 / 4;
}
.spec div .kep:nth-child(5){
    background-image: url(./img/pizzakep5.jpg);
    background-position: center;
    background-size: cover;
    grid-area: 5 / 5 / 6 / 10;
}


footer {
    background-color: #000000;
    padding: 20px 40px;
    font-size: 0.85rem;
    color: #aaaaaa;
    line-height: 1.4;
}


@media (max-width: 768px){
  nav .part_2{
    position: relative;
    display: flex;      /* maradjon látható */
    align-items: center;
  }

  nav .hamburger{
    display: block;
    font-size: 28px;
    cursor: pointer;
  }

  nav .links{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 45px;
    right: 0;
    width: 100vw;
    background-color: #111;
    padding: 20px 0;
    text-align: center;
    gap: 15px;
  }

  nav .part_2.active .links{
    display: flex;
  }

  /* a "/" elválasztó ne legyen mobilon */
  nav .links a + a::before{
    content: "";
    margin: 0;
  }
}
