html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
.container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(20, 1fr);
    height: 100%;
    width: 100%;
}
header{
    background-image: url(/img/pizzakep.jpg);
    background-position: center;
    grid-area: 1 / 1 / 10 / 1;
}
nav{
    height: 100%;
    padding: 20px;
    color: white;
}
nav a {
    width: 100%;
    color: white;
    text-decoration: none;
    font-size: small;
}
nav div:first-child{
    font-size: x-large;
}
main{
}
aside{
    background-color: #222222;
}
section{
    background-color: #101010;
}
article{
    background-color: #222222;
}
footer{
    background-color: #101010;
}