* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    color: white;
}
html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    min-height: 90vh;
    background-image: url("/img/pizzakep.jpg");
    background-position: center;
    background-size: cover;
}
header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
}

.hamburger{
    position: sticky;
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: white;
}


nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

nav .part_1 {
    font-size: x-large;
    font-weight: normal;
}

nav .part_2 {
    display: flex;
    font-size: large;
}

nav .part_2 a {
    text-decoration: none;
}

nav .part_2 a:hover {
    text-decoration: underline;
}

nav .part_2 a + a::before {
    content: "/";
    margin: 0 8px;
}


main {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.foglalas,
.menu,
.spec {
    width: 100%;
    padding: 40px 40px;
    line-height: 1.5;
    margin: 0 auto;
}

.foglalas {
    background-color: #222222;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

main .foglalas .fog:nth-child(1){
    text-align: right;
    display: flex;
    flex-direction: column;
}

main .foglalas .fog:nth-child(1) strong{

    font-size: xx-large;
}

main .foglalas .fog:nth-child(1) small{
    text-align: right;
    display: flex;
    flex-direction: column;
    font-size: large;
    font-style:oblique;
    font-family: 'Times New Roman', Times, serif;
}

main .foglalas .fog:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 600px;
    font-weight: 100;
}

main .foglalas .fog:nth-child(2) p{
    font-size: larger;
}

main .foglalas .fog:nth-child(2) strong{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;

}

.menu {
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu > div:nth-child(1){
    font-size: xx-large;
}
.menu > div:nth-child(1)::after{
    content: "–";
}

.menu > div:nth-child(1)::before{
    content: "–";
}
.menu div:nth-child(2){
    font-size: large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.menu div:nth-child(3){
    font-style: oblique;
    display: flex;
    justify-content: center;
    width: 550px;
    text-align: center;
    font-size: larger;
    font-weight: 100;
}
.menu div:nth-child(4){
    display: flex;
    flex-direction: row;
    gap: 5vw;
    padding:5vh 0 2vh 0;
}

.menu div:nth-child(4) a{
    text-decoration: none;
    border: solid 1px white;
    padding: 15px 75px 15px 75px;
}

.menu div:nth-child(4) a:hover{
    background-color: white;
    color: black;
    animation:10ms;
}


.spec {
    background-color: #222222;
    padding-right: 20%;
    padding-left: 20%;
}

.spec h2::after{
    content: "–";
}
.spec h2::before{
    content: "–";
}
.spec h2{
    text-align: center;
}
.spec div{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: 6fr 1fr 2fr;
    height: 15vw;
    width: 15vw;
    grid-template-areas: "top1 top1 top2"
                         "middle1 middle2 top2"
                         "middle1 middle2 middle3"
                         ". . middle3";
    gap: 50px;
}
.spec div .kep:nth-child(1){
    background-image: url(./img/pizzakep.jpg);
    background-position: center;
    background-size: cover;
    grid-area: top1;
}
.spec div .kep:nth-child(1)::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.15);
}
.spec div .kep:nth-child(2){
    background-image: url(./img/pizzakep2.jpg);
    background-position: center;
    background-size: cover;
    grid-area: top2;
}
.spec div .kep:nth-child(2)::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.15);
}
.spec div .kep:nth-child(3){
    background-image: url(./img/pizzakep3.jpg);
    background-position: center;
    background-size: cover;
    grid-area: middle1;
}
.spec div .kep:nth-child(3)::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.15);
}
.spec div .kep:nth-child(4){
    background-image: url(./img/pizzakep4.jpg);
    background-position: center;
    background-size: cover;
    grid-area: middle2;
}
.spec div .kep:nth-child(4)::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.15);
}
.spec div .kep:nth-child(5){
    background-image: url(./img/pizzakep5.jpg);
    background-position: center;
    background-size: cover;
    grid-area: middle3;
}
.spec div .kep:nth-child(5)::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.15);
}
.spec .kepek .kep{  
  overflow: hidden;
  background-position: center;
  background-size: cover;
  position: relative;
}

.spec .kepek .kep{
  display:flex;
  align-items:flex-end;
  justify-content:center;
  font-size: larger;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}


footer {
    background-color: #000000;
    padding: 20px 40px;
    color: #aaaaaa;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    padding-left: 25%;
    padding-right: 25%;
}
footer .footer-part1{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-bottom: 40px;
}
footer .footer-part1 div:nth-child(1){
    font-size: x-large;
    flex: 33%;
    padding-top: 0;
    text-align: right;
    font-weight: bolder;
}
footer .footer-part1 div:nth-child(2){
    flex: 33%;
    text-align: left;
}
footer .footer-part1 div:nth-child(2) li{
    list-style: none;
    text-align: left;
}
footer .footer-part1 div:nth-child(2) li ol{
    padding-left: 0;
    padding-bottom: 5px;
    border-bottom:solid 1px white;
}
footer .footer-part1 div:nth-child(2) li ol:last-child{
    border-bottom:none;
}

footer .footer-part1 div:nth-child(3){
    font-size: large;
    flex: 33%;
    text-align: left;
}
footer .footer-part2{
    padding-top: 40px;
    text-align: center;
    line-height: 0.9;
    font-size: smaller;
    border-top: solid 1px white ;
    text-wrap: wrap;
}

@media (max-width: 768px){

  nav .part_2{
    position: relative;
    display: flex;
    align-items: center;
  }

  nav .part_2 .hamburger{
    display: block;
    font-size: 28px;
    cursor: pointer;
  }

  nav .part_2 a{
    display: none;
  }


  nav .part_2.active a{
    display: block;
    padding: 12px 0;
  }

  nav .part_2.active{
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    flex-direction: column;
    padding: 20px 0;
    text-align: center;
    gap: 10px;
  }

  nav .part_2 a + a::before{
    content: "";
    margin: 0;
  }
    .menu div:nth-child(4){
    display: flex;
    flex-direction: column;
    gap: 5vw;
    padding:5vh 0 2vh 0;
    }

    footer .footer-part1{
        flex-direction: column;
        text-align: right;
    }
    footer .footer-part1 div:nth-child(1){
    text-align: left;
}
}

@media (max-width: 1200px){

  nav .part_2{
    position: relative;
    display: flex;
    align-items: center;
  }

  nav .part_2 .hamburger{
    display: block;
    font-size: 28px;
    cursor: pointer;
  }

  nav .part_2 a{
    display: none;
  }


  nav .part_2.active a{
    display: block;
    padding: 12px 0;
  }

  nav .part_2.active{
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    flex-direction: column;
    padding: 20px 0;
    text-align: center;
    gap: 10px;
  }

  nav .part_2 a + a::before{
    content: "";
    margin: 0;
  }
}
